@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Medium.woff') format('woff2'),
      url('/src/assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Light.woff2') format('woff2'),
      url('/src/assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
